<%= form_with model: product, local: true do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><%= form.object.errors.full_messages.first %></p>
  <% end %>

  <div style="margin: 1rem; padding: .5rem;">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div style="margin: 1rem; padding: .5rem;">
    <%= form.label :description %><br>
    <%= form.rich_text_area :description %>
  </div>

  <div style="margin: 1rem; padding: .5rem;">
    <%= form.label :featured_image %><br>
    <%= form.file_field :featured_image %>
  </div>

  <div style="margin: 1rem; padding: .5rem;">
    <%= form.label :inventory_count %><br>
    <%= form.number_field :inventory_count, min: 0 %>
  </div>

 <div style="margin: 1rem; padding: .5rem;">
    <%= form.submit %>
  </div>
<% end %>
