<h1><%= t ".title" %></h1>

<div class="flex flex-col gap-4 border border-gray-300 p-4 mt-4">
  <div id="products">
    <% @products.each do |product| %>
      <div>
        <%= link_to product.name, product_path(product.id) %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex flex-col gap-4 border border-gray-300 p-4 mt-4">
  <%= link_to 'Add New Product', new_product_path if authenticated? %>
  <%= link_to "Login", new_session_path unless authenticated? %>
  <%= link_to "Sign Up [debug]", sign_up_path unless authenticated? %>
  <div class="flex flex-col gap-1">
    <div><b>User:</b></div>
    <div><%= @user&.full_name || "[no full name]" %></div>
    <div><%= @user&.email_address || "[no email]" %></div>
  </div>
  <%#= debug @user %>
</div>
